# On-Site Version 4.3.0

x-labels: &k8s-labels
  kompose.image-pull-secret: pullsecret

x-loglevel: &loglevel "Warning"

x-default-healthcheck: &default-healthcheck
  interval: "30s"

services:
  csd-platform:
    image: ccdcrepository.azurecr.io/onsite/ccdc-lattice:4.3.0
    environment:
      # Services__Identity__https: https://ccdc-identity:8080  # left commented as original
      Services__Entitlements__http__0: http://entitlements:8080
      Services__PlatformApi__http__0: http://ccdc-platformgateway:8080
      Services__identity__http__0: http://ccdc-identity:8080
      Services__webcsd__http__0: http://webcsd:8080
      Identity__Authority: ${PUBLIC_URI}/identity/
      ENABLE_IDENTITY_PROXY: "true"
      ENABLE_WEBCSD_PROXY: "true"
      ASPNETCORE_HTTPS_PORT: 8443
      ASPNETCORE_Kestrel__Certificates__Default__Password: ${CERTIFICATE_PASSWORD}
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/ssl_cert.pfx
      ASPNETCORE_URLS: https://+:8443
      DANGEROUS_ACCEPT_ANY_SERVER_CERTIFICATE: "true"
      ASPNETCORE_ENVIRONMENT: OnSite
      PlatformApi__Server: http://platformapi
      DisableUserAccessControl: "false"
      PublicUri: ${PUBLIC_URI}
    volumes:
      - ${SSL_CERT_LOC}:/https/ssl_cert.pfx:ro
    ports:
      - ${PLATFORM_PORT}:8443
      # This is required for csd theory ingestion python script to work
      #- 80:8080
    restart: unless-stopped
    labels:
      <<: *k8s-labels
      kompose.service.type: LoadBalancer
      kompose.service.expose: "true"
    depends_on:
      # No healthcheck endpoint currently for identity
      ccdc-identity:
        condition: service_started
      webcsd:
        condition: service_healthy
      # No healthcheck endpoint currently for platform gateway
      ccdc-platformgateway:
        condition: service_started
    logging:
      driver: local

  ccdc-platformgateway:
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-platform-gateway-api:4.3.0
    depends_on:
      ccdc-csd-deposition:
        condition: service_healthy
      ccdc-csd-searchservice:
        condition: service_healthy
      ccdc-csd-database-management:
        condition: service_healthy
      csd-request-entry:
        condition: service_healthy
    environment:
      APIHost: ccdc-platformgateway:8080
    restart: unless-stopped
    logging:
      driver: local

  ccdc-identity:
    image: ccdcrepository.azurecr.io/onsite/ccdc-identity:4.3.0
    environment:
      ConnectionStrings__identitydb: ${DB_CONNECTIONSTRING};Database=${IDENTITY_DATABASE}
      PATHBASE_OVERRIDE: /identity/
      DANGEROUS_DISABLE_HTTPS: "true"

      OpenIddict__EncryptionCertificateFilepath: /https/ssl_cert.pfx
      OpenIddict__EncryptionCertificatePassword: ${CERTIFICATE_PASSWORD}
      OpenIddict__SigningCertificateFilepath: /https/ssl_cert.pfx
      OpenIddict__SigningCertificatePassword: ${CERTIFICATE_PASSWORD}

      Logging__LogLevel__Default: "Debug"
      PlatformClientSettings__RedirectUris__0: ${PUBLIC_URI}/authentication/login-callback
      PlatformClientSettings__PostLogoutRedirectUris__0: ${PUBLIC_URI}/authentication/logout-callback
      WebCsdClientSettings__RedirectUris__0: ${PUBLIC_URI}/structures/signin-oidc
      WebCsdClientSettings__PostLogoutRedirectUris__0: ${PUBLIC_URI}/structures/signout-oidc
      ## SMTP
      # SMTP__HOST: smtp.azurecomm.net
      # SMTP__PORT: 587
      # SMTP__USERNAME: ${SMTP_USERNAME}
      # SMTP__PASSWORD: ${SMTP_PASSWORD}
      # SMTP__FROMADDRESS: ${SMTP_FROMADDRESS}
      ## End SMTP
    volumes:
      - ${SSL_CERT_LOC}:/https/ssl_cert.pfx:ro
    logging:
      driver: local

  ccdc-identity-migration:
    image: ccdcrepository.azurecr.io/onsite/ccdc-identity-migration:4.3.0
    environment:
      ConnectionStrings__identitydb: ${DB_CONNECTIONSTRING};Database=${IDENTITY_DATABASE}

      OpenIddict__Applications__0__RedirectUris__0: ${PUBLIC_URI}/signin-oidc
      OpenIddict__Applications__0__PostLogoutRedirectUris__0: ${PUBLIC_URI}/signout-callback-oidc
      OpenIddict__Applications__1__RedirectUris__0: ${PUBLIC_URI}/structures/signin-oidc
      OpenIddict__Applications__1__PostLogoutRedirectUris__0: ${PUBLIC_URI}/structures/signout-oidc
    volumes:
      - ./OpenIddictApplicationsConfig.json:/app/OpenIddictApplicationsConfig.json:ro

  entitlements:
    image: ccdcrepository.azurecr.io/onsite/ccdc-entitlements:4.3.0
    environment:
      services__identity__http__0: http://ccdc-identity:8080
      DANGEROUS_DISABLE_VALIDATE_ISSUER: "true"
      Cryptlex__CryptlexDataPath: /ccdc/lic
    user: 1397:1397
    volumes:
      - ./lic:/ccdc/lic

  webcsd:
    image: ccdcrepository.azurecr.io/onsite/webcsd:4.3.0
    user: 1397:1397
    environment:
      CsdRepository__SketcherFeatures__1: Proteins
      IdentityGateway__Issuer: ${PUBLIC_URI}/identity/
      IdentityGateway__DisableSSLValidation: "true"
      IdentityGateway__ClientSecret: ""
      PATHBASE_OVERRIDE: /structures/
      Logging__LogLevel__Default: *loglevel
      DANGEROUS_ACCEPT_ANY_SERVER_CERTIFICATE: "true"
    depends_on:
      ccdc-csd-searchservice:
        condition: service_healthy
      csd-request-entry:
        condition: service_healthy
    volumes:
      - ./userdata:/app/OnSite
    labels:
      <<: *k8s-labels
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  webcsdbackend:
    depends_on:
      ccdc-csd-searchservice:
        condition: service_healthy
      csd-request-entry:
        condition: service_healthy
    image: ccdcrepository.azurecr.io/onsite/webcsdbackend:4.3.0
    environment:
      CCDC_LICENSING_CONFIGURATION: ${CCDC_LICENSING_CONFIGURATION}
      Logging__LogLevel__Default: *loglevel
    labels:
      <<: *k8s-labels
    logging:
      driver: local

  ccdc-csd-deposition:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-deposition-api:4.3.0
    environment:
      CsdDepositionReadConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=csd_schema
      CsdDepositionWriteConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=csd_schema
      Logging__LogLevel__Default: *loglevel
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
    restart: unless-stopped
    depends_on:
      message-broker:
        condition: service_healthy
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-textnumericsearch:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-textnumericsearch-api:4.3.0
    environment:
      CsdDepositionReadConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=csd_schema
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
      Logging__LogLevel__Default: *loglevel
    healthcheck:
      <<: *default-healthcheck
    logging:
      driver: local

  ccdc-csd-searchservice:
    labels:
      <<: *k8s-labels
    restart: unless-stopped
    depends_on:
      message-broker:
        condition: service_healthy
      ccdc-csd-textnumericsearch:
        condition: service_healthy
      ccdc-csd-substructuresearch:
        condition: service_healthy
      ccdc-csd-similaritysearch:
        condition: service_healthy
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-searchservice-api:4.3.0
    environment:
      SearchServiceConnectionString: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=searchstore
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-substructuresearch:
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-substructuresearch-api:4.3.0
    labels:
      <<: *k8s-labels
    restart: unless-stopped
    # Note this also references ccdc-csd-searchservice but that would create a circular dependency so is omitted.
    # It is reasonable to assume it is already running as this service is a dependency
    depends_on:
      ccdc-csd-substructure-filter:
        condition: service_healthy
      ccdc-csd-fingerprint:
        condition: service_healthy
      ccdc-csd-deposition:
        condition: service_healthy
      message-broker:
        condition: service_healthy
    environment:
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
      SubstructureSearchDatabaseWriterConnectionString: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=substructure
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  csd-request-entry:
    labels:
      <<: *k8s-labels
    depends_on:
      ccdc-csd-deposition:
        condition: service_healthy
      ccdc-csd-crystal-structure-export:
        condition: service_healthy
    image: ccdcrepository.azurecr.io/onsite/csd-request-entry-api:4.3.0
    environment:
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-formulasearch:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-formulasearch-api:4.3.0
    environment:
      FormulaSearchReadConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=formula
      FormulaSearchWriteConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=formula
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-unitcellsearch:
    labels:
      <<: *k8s-labels
    depends_on:
      ccdc-csd-reducedcell-calculation-service:
        condition: service_healthy
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-unit-cell-search:4.3.0
    environment:
      UnitCellSearchReadConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=unitcell
      UnitCellSearchWriteConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=unitcell
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-similaritysearch:
    labels:
      <<: *k8s-labels
    depends_on:
      ccdc-csd-fingerprint:
        condition: service_healthy
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-structure-similarity-search:4.3.0
    environment:
      StructureSimilaritySearchReadConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=similarity
      StructureSimilaritySearchWriteConnection: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=similarity
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-fingerprint:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-fingerprint-service:4.3.0
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-substructure-filter:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-substructure-filter-service:4.3.0
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-crystal-structure-export:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-crystal-structure-export-service:4.3.0
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-sqlite-crystal-structure-access:
    user: 1397:1397
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-sqlite-crystal-structure-access-service:4.3.0
    volumes:
      - ./userdata:/app/OnSite
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-crystal-structure-curation:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-crystal-structure-curation-service:4.3.0
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-reducedcell-calculation-service:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-reducedcell-calculation-service:4.3.0
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  webcsd-theory:
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/csd-theory:4.3.0
    environment:
      CCDC_LICENSING_CONFIGURATION: ${CCDC_LICENSING_CONFIGURATION}
      Logging__LogLevel__Default: *loglevel
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  message-broker:
    image: ccdcrepository.azurecr.io/onsite/rabbitmq:4.3.0
    environment:
      RABBITMQ_DEFAULT_USER: queueuser
      RABBITMQ_DEFAULT_PASS: ${CCDC_LICENSING_CONFIGURATION}
    restart: unless-stopped
    healthcheck:
      <<: *default-healthcheck
      test: ["CMD", "rabbitmqctl", "await_startup"]
      timeout: 10s
      retries: 5
      start_period: 30s
    logging:
      driver: local

  ccdc-file-generation:
    restart: unless-stopped
    image: ccdcrepository.azurecr.io/onsite/ccdc-structure-file-generation:4.3.0
    environment:
      CacheSettings__ConnectionString: ${DB_CONNECTIONSTRING};Database=structure_file_cache;SearchPath=cache
      MessagingProvider: RabbitMQ
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
      MessagingHost: message-broker
      Logging__LogLevel__Default: *loglevel
      Identity__Authority: ${PUBLIC_URI}/identity/
    depends_on:
      message-broker:
        condition: service_healthy
      ccdc-csd-crystal-structure-export:
        condition: service_healthy
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-database-management:
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-database-management-api:4.3.0
    labels:
      <<: *k8s-labels
    environment:
      DatabaseManagementConnectionString: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=database_management
      ServiceDatabaseConnectionString: ${DB_CONNECTIONSTRING}
      Logging__LogLevel__Default: *loglevel
      Identity__Authority: ${PUBLIC_URI}/identity/
      DANGEROUS_ACCEPT_ANY_SERVER_CERTIFICATE: "true"
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-entry-ingestion:
    user: 1397:1397
    labels:
      <<: *k8s-labels
    image: ccdcrepository.azurecr.io/onsite/ccdc-csd-entry-ingestion-api:4.3.0
    volumes:
      - ./userdata:/app/OnSite
    environment:
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
      EntryIngestionDatabaseWriterConnectionString: ${DB_CONNECTIONSTRING};Database=${CSD_DATABASE};SearchPath=entry_ingestion
      Logging__LogLevel__Default: *loglevel
      Identity__Authority: ${PUBLIC_URI}/identity/
    depends_on:
      ccdc-csd-sqlite-crystal-structure-access:
        condition: service_healthy
      ccdc-csd-crystal-structure-curation:
        condition: service_healthy
      ccdc-csd-deposition:
        condition: service_healthy
      message-broker:
        condition: service_healthy
    restart: unless-stopped
    logging:
      driver: local
    healthcheck:
      <<: *default-healthcheck

  ccdc-csd-crystal-structure-change-queue-consumer:
    image: ccdcrepository.azurecr.io/onsite/csd-queueconsumer-crystalstructurechanged:4.3.0
    environment:
      MessagingOnSiteUsername: queueuser
      MessagingOnSitePassword: ${CCDC_LICENSING_CONFIGURATION}
    depends_on:
      ccdc-csd-deposition:
        condition: service_healthy
      message-broker:
        condition: service_healthy
    healthcheck:
      <<: *default-healthcheck
