# Full CCDC Licensing string (provided by CCDC)
# Replace the licence key below with your licence key, keep the la-code and the semi colons.
# More information can be found in section 14.8 in the release notes for the desktop CSD portfolio
CCDC_LICENSING_CONFIGURATION=la-code;123456-123456-123456-123456-123456-123456;

# Password for local database
CSD_DB_CONNECTIONSTRING=Server=database-server;Port=5432;Database=csd-database;User Id=postgres;Password=passwordhere
IDENTITY_DB_CONNECTIONSTRING=Server=database-server;Port=5432;Database=csd-identity;User Id=postgres;Password=passwordhere

#You don't need to change this unless you want to run on a different port
WEBCSD_PORT=443

PUBLIC_URI=https://csd-software.local