# Full CCDC Licensing string (provided by CCDC)
# Replace the licence key below with your licence key, keep the la-code and the semi colons.
# More information can be found in section 14.8 in the release notes for the desktop CSD portfolio
CCDC_LICENSING_CONFIGURATION=la-code;123456-123456-123456-123456-123456-123456;

# Configure the server, port, user ID, and password to match your Postgres server
DB_CONNECTIONSTRING=Server=database-server;Port=5432;User Id=postgres;Password=passwordhere

# The database the CSD backup has been restored to
CSD_DATABASE=csd-database

# Database for the v4 login system. This will be created at application startup if it doesn't already exist. 
IDENTITY_DATABASE=csd-identity

# Defines the base URL for the platform
PUBLIC_URI=https://csd-software.local

#You don't need to change this unless you want to run on a different port
PLATFORM_PORT=443
